name: Push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/brocolito-setup
      - run: bro changed_targets
        id: find-changed-targets
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - run: echo ${{ steps.find-changed-targets.outputs.changed }}
